.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    padding: 20px;
    background-color: #03172b; /* Light background for contrast */
}

.welcome-message {
    font-size: 1.5em;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.h1 {
    font-size: 3em;
    color: white;
    text-align: center;
    margin-top: 1px;
}

.popular-news {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px; /* round the corners */
    border: black 2px solid; /* Optional: border color */
    background-color: #071236; /* Light background for contrast */
    margin-top: 25px; /* space above the news feed */
}

.article {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}

.article-image {
    width: 1000px; /* Adjust to your preferred size */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px; /* round the corners */
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* shadow effect */

}
.article-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
}  

.article-description {
    font-size: 0.9em;
    color: white;
}

.article-date {
    font-size: 0.8em;
    color: #999;
    margin-top: 5px;
}

.article-author {
    font-size: 0.8em;
    color: white;
    margin-top: 5px;
    
}

.article-source-name {
    font-size: 1em;
    color: white;
    margin-top: 5px;
    font-weight: bold;

}

.article-link {
    text-decoration: none;
    color: #007bff; /* Bootstrap primary color */
    font-weight: bold;
    
}

.article-link:hover {
    text-decoration: underline;
}
  